.forms-tabs li:hover a,
.forms-tabs li:focus a,
.forms-tabs li:active a {
    color: #1551b8 !important;
}

.lk-head-btn:hover,
.lk-head-btn:focus,
.lk-head-btn:active {
    border-color: #1551b8 !important;
}