.forms-tabs li:nth-of-type(3) a {
    font-size: 0;
}

.forms-tabs li:nth-of-type(3) a::after {
    content: 'Ж/д билеты';
    font-size: 14px;
    line-height: 17px;
    vertical-align: middle;
    letter-spacing: 1px;
}

.mobile-menu .dropdown-menu li:nth-of-type(3) a {
    font-size: 0 !important;
}

.mobile-nav .dropdown-menu li:nth-of-type(3) a::after {
    content: 'Ж/д билеты';
    font-size: 14px;
}

.content-wrap .nav-bar-table td:nth-child(2) a {
    font-size: 0 !important;
}

.content-wrap .nav-bar-table td:nth-child(2) a::before {
    content: 'Мили';
    color: #494949;
    font-size: 15px;
    font-weight: 900;
    padding: 20px 0;
    background-color: #fff;
    text-transform: uppercase;
}

.bonuses th:nth-child(2) {
    font-size: 0;
}

.bonuses th:nth-child(2)::before {
    content: 'Мили';
    font-size: 14px;
}

.bonuses > h3:nth-child(6),
.bonuses > p:nth-child(7){
    font-size: 0;
}

.bonuses h3:nth-child(6)::before {
    content: 'Когда начисляются мили?';
    font-size: 24px;
}

.bonuses > p:nth-child(7)::before {
    content: 'Приветственные мили после первой покупки по карте.';
    font-size: 14px;
}

.balance-in-head .balance-txt-postfix{
    font-size: 0;
}

.balance-txt-postfix::before {
    content: 'миль';
    font-size: 11px;
}

.ottwl-header__block .logo-image {
    width: 196px;
    height: 40px;
}

#ottSaasHeader {
    background: #ffffff;
}

/*.ottwl-header__logout-btn svg {*/
    /*display: none;*/
/*}*/

/*.ottwl-header__logout-btn::before {*/
    /*content: ;*/
/*}*/