@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_300.woff2') format('woff2'), url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_500.woff2') format('woff2'), url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_700.woff2') format('woff2'), url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_900.woff2') format('woff2'), url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

.forms-tabs li a {
    position: relative;
    font-family: 'MuseoSansCyrl', Arial, sans-serif;
    /* font-size: 16px; */
    font-size: 14px;
    line-height: normal;
    font-weight: 500;
    color: #000000;
    letter-spacing: normal;
    border-bottom: none;
}

.forms-tabs .active a::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 47px;
    width: 100%;
    height: 4px;
    margin-left: -50%;
    background-color: #ff8c00;
}

.container {
    padding: 0 16px;
}

.ottwl-header .logo-block {
     margin: 0 auto;
}

.ottwl-header__block .logo .logo-image {
    margin: 0;
}

#ottSaasHeader {
    background-color: #ffffff;
}

#ottSaaS {
    background: #eeeeee;
}

.ottwl-header {
    padding-top: 20px;
    justify-content: flex-start;
}

.desktop-nav.ottwl-header__block {
    padding-left: 22px;
}

.ottwl-header__auth-dialog-btn {
    padding: 12px 24px;
    border: solid 1px rgba(0, 0, 0, 0.14);
    border-radius: 100px;
}

.ottwl-header__block--mobile svg {
    display: none;
}

.ottwl-header__block--mobile .ottwl-header__auth-dialog-btn {
    display: block;
    padding-top: 7px;
}
.ottwl-header__block--mobile .ottwl-header__auth-dialog-btn::before {
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill-rule='nonzero' d='M11.586 11L9.293 8.707a1 1 0 1 1 1.414-1.414l4 4a1 1 0 0 1 0 1.414l-4 4a1 1 0 1 1-1.414-1.414L11.586 13H4a1 1 0 0 1 0-2h7.586zM10 5a1 1 0 1 1 0-2h8a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3h-8a1 1 0 0 1 0-2h8a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1h-8z'></path></svg>");
    display: block;
    width: 24px;
    height: 24px;
}
.ngdialog.auth-popup .nav-tabs>li>a,
.ngdialog.auth-popup .nav-tabs>li.active>a {
    font-size: 13px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.ngdialog.ngdialog-theme-default .ngdialog-close {
    top: 15px;
    right: 15px;
}

.ngdialog.ngdialog-theme-default .ngdialog-close::before {
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 10.586l6.293-6.293a1 1 0 0 1 1.414 1.414L13.414 12l6.293 6.293a1 1 0 0 1-1.414 1.414L12 13.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L10.586 12 4.293 5.707a1 1 0 0 1 1.414-1.414L12 10.586z'></path></svg>");
    width: 24px;
    height: 24px;
    padding: 0;
}
.ngdialog.ngdialog-theme-default .ngdialog-content { border-radius: 10px; }

.form-group.ng-scope {
    position: relative;
}

input.form-control {
    border: none;
    border-bottom: 1px solid #CCC;
    box-shadow: none;
    border-radius: 0;
}

input.form-control:focus {
    border-color: #FF8C00 !important;
    transition: 0.2ms;
}

.text-left .btn {
    display: block;
    margin: 0 auto;
    border-radius: 100px;
}

.text-left .btn:hover {
    box-shadow: 0 12px 16px 0 rgba(255, 140, 0, 20);
}

.text-right a {
    font-size: 13px;
}

@media(min-width: 992px) {
    .container > .ng-isolate-scope {
        padding: 0 70px;
    }

    .ottwl-header__block.ng-scope {
        margin-left: auto;
    }

    .ottwl-header .logo-block {
        margin: 0;
    }
}