@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_300.woff2') format('woff2'), url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_500.woff2') format('woff2'), url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_700.woff2') format('woff2'), url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_900.woff2') format('woff2'), url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

.forms-tabs li a {
    font-family: 'MuseoSansCyrl', Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
    color: #000000;
}

.ottwl-header__block .logo .logo-image {
    display: none;
}

.ottwl-header__block .logo {
    width: 92px;
    height: 37px;
    display: block;
    background: url("./logo-qiiwi.svg") no-repeat center;

}

#ottSaasHeader {
    background-color: #ffffff;
}

#ottSaaS {
    background: #eeeeee;
}

.container {
    padding: 0 74px;
}

.ottwl-header {
    padding-top: 24px;
    justify-content: flex-end;
}

.desktop-nav.ottheader__block {
    padding-left: 22px;
}

.ottwl-header__block.ng-scope {
    margin-left: auto;
}