@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_300.woff2') format('woff2'), url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_500.woff2') format('woff2'), url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_700.woff2') format('woff2'), url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_900.woff2') format('woff2'), url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

.forms-tabs li a {
    position: relative;
    font-family: 'MuseoSansCyrl', Arial, sans-serif;
    /* font-size: 16px; */
    font-size: 14px;
    line-height: normal;
    font-weight: 500;
    color: #000000;
    letter-spacing: normal;
    border-bottom: none;
}

.forms-tabs .active a::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 47px;
    width: 100%;
    height: 4px;
    margin-left: -50%;
    background-color: #ff8c00;
}


.ottwl-header__block .logo .logo-image {
    margin: 0;
}

#ottSaasHeader {
    background-color: #ffffff;
}

#ottSaaS {
    background: #eeeeee;
}

.container .ng-isolate-scope:not(.mobile-menu-open){
    padding: 0 85px;
}

.ottwl-header {
    padding-top: 20px;
    justify-content: flex-start;
}

.desktop-nav.ottwl-header__block {
    padding-left: 22px;
}

.ottwl-header__block.ng-scope {
    margin-left: auto;
}

.ottwl-header__auth-dialog-btn {
    padding: 12px 24px;
    border: solid 1px rgba(0, 0, 0, 0.14);
    border-radius: 100px;
}