@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_300.woff2') format('woff2'), url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_500.woff2') format('woff2'), url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_700.woff2') format('woff2'), url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_900.woff2') format('woff2'), url('https://wl-qiwi--wl.onetwotrip.com/ott-static/images/partners/wl-qiwi/fonts/MuseoSansCyrl_900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

.forms-tabs li a {
    font-family: 'MuseoSansCyrl', Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
    color: #000000;
}

.ottwl-header__block .logo .logo-image {
    display: none;
}

.ottwl-header__block .logo {
    url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+PGxpbmVhckdyYWRpZW50IGlkPSdncmFkaWVudCc+PHN0b3Agb2Zmc2V0PScxMCUnIHN0b3AtY29sb3I9JyNGMDAnLz48c3RvcCBvZmZzZXQ9JzkwJScgc3RvcC1jb2xvcj0nI2ZjYycvPiA8L2xpbmVhckdyYWRpZW50PjxyZWN0IGZpbGw9J3VybCgjZ3JhZGllbnQpJyB4PScwJyB5PScwJyB3aWR0aD0nMTAwJScgaGVpZ2h0PScxMDAlJy8+PC9zdmc+");
}

#ottSaasHeader {
    background-color: #ffffff;
}

#ottSaaS {
    background: #eeeeee;
}