body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: black;
  text-transform: uppercase;

  width: 1200px;
  margin: 0 auto;
  background-color: #e5e5e5;

}

a {
  text-decoration: none;
}

.main-header {
  width: 1200px;
  margin: 0 auto;
  position: relative
}

.main-header-index {
  padding-bottom: 509px;
  background-image: url("../img/polygon.svg"), url("../img/welcome.png"), url("../img/background-photo.png");
  background-position: bottom, 50% 61%, 100% 12%;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: 100% 57px, auto, cover;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  min-height: 55px;
  background-color: #ffffff;
  color: #766357;
  line-height: 26px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-navigation:before {
  content: "";
  display: inline-block;
  min-height: 55px;
  visibility: hidden;
}

.header-container {
  margin: 0 auto;
  width: 1056px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.links-wrapper-box1{
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.links-wrapper-box2{
  width: 328px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-logo {
  position: absolute;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.header-navigation a:not(.header-current-link){
  color: black;
}

.header-navigation a:hover,
.header-navigation a:focus {
  color: #81b3d2;
}

.header-navigation a:active{
  color: #dadada;
}

.main-container {
  background-color: white;
}

.main-advantage-desc {
  margin: 0 auto;
  text-align: center;
  font-weight: normal;
  line-height: 26px;
  padding-top: 25px;
  padding-bottom: 52px;
}

.main-title{
  width: 450px;
  margin: 0 auto;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding-top: 61px;
}

.advantage-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.advantage-desc {
  width: 280px;
  margin: 0 auto;
  font-weight: 400;
  text-align: center;
}

.advantage-item {
  min-height: 260px;
}

.advantage-item p{
  padding: 0;
}

.main-advantage ol,
.main-advantage ul {
  margin: 0;
  padding: 0;
}

.advantage-item:nth-child(1){
  width: 100%;
  background: url("../img/advantage-1.jpg");
  background-position: right;
  background-repeat: no-repeat;
  min-height: 257px;
}

.finded span{
  margin-left: 6px;
}


.advantage-item-wrapper {
  background-color: #81b3d2;
  color: white;
  display: block;
  width: 400px;
  min-height: 257px;
}

.second{
  float: right;
}

.advantage-title {
  padding: 0;
  margin: 0;
  white-space: normal;
  padding-top: 50px;
  text-align: center;
}

.advantage-item:nth-child(3){
  width: 100%;
  background: url("../img/advantage-2.jpg");
  background-position: left;
  background-repeat: no-repeat;
  min-height: 257px;
}

.advantage-item:nth-child(4),
.advantage-item:nth-child(5),
.advantage-item:nth-child(6){
  background: #eeeeee;
  width: 400px;
  margin: 0 auto;
}

.advantage-list {
  margin: 0;
  padding: 0;
}


.bonus-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 330px;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.bonus-item {
  width: 400px;
}

.bonus-item-house{
  margin: 0;
  margin-top: 60px;
  display: block;
  padding: 36px;
  background: url("../img/icon-house.svg");
  background-position: top;
  background-repeat: no-repeat;
}

.bonus-item-burger{
  margin: 0;
  margin-top: 60px;
  display: block;
  padding: 36px;
  background: url("../img/icon-burger.svg");
  background-position: top;
  background-repeat: no-repeat;
}

.bonus-item-burger{
  margin: 0;
  margin-top: 60px;
  display: block;
  padding: 36px;
  background: url("../img/icon-burger.svg");
  background-position: top;
  background-repeat: no-repeat;
}

.bonus-item-present{
  margin: 0;
  margin-top: 57px;
  display: block;
  padding: 38px;
  background: url("../img/icon-present.svg");
  background-position: top;
  background-repeat: no-repeat;
}

.bonus-title {
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

.bonus-desc {
  margin: 0;
  margin-top: 25px;
  padding: 0;
}

.main-promo {
  padding-top: 45px;
  text-align: center;
  background-color: white;
}

.main-promo b{
  font-size: 30px;
  line-height: 36px;
}

.promo-desc {
  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 24px;
  padding-bottom: 36px;
  width: 450px;
  font-weight: 400;
  line-height: 24px;
}


.modal {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  color: white;
  vertical-align: middle;
  background-color: #766357;
  text-transform: uppercase;
  border: none;
}

.modal:hover,
.modal:focus,
.order:hover,
.order:focus{
  background-color: #604e43;
}

.modal:active,
.order:active{
  color: #928a85;
  background-color: #503e33;
}

.modal-form {
  background-color: #ffffff;
  position: absolute;
  font-size: 14px;
  line-height: 26px;
  width: 100%;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 458px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  padding: 55px;
}

.checkin,
.checkout,
.people,
.find{
  margin: 0;
  padding: 0;
  width: 100%;
}


.checkin,
.checkout{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  max-height: 37px;
  width: 100%;
}

.people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 37px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.find {
  margin-top: 56px;
  padding-left: 195px;
  padding-right: 197px;
  padding-top: 17px;
  padding-bottom: 15px;
}

.modal-form input {
  font: inherit;
  border: none;
}

.checkin input,
.checkout input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-left: 12px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 220px;
  background-color: #f2f2f2;
  vertical-align: center;
}

.checkin label,
.checkout label {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-right: 22px;
  white-space: nowrap;
}

.checkin svg {
  cursor: pointer;
  position: absolute;
  left: 482px;
  top: 62px;
}

.checkin svg:hover,
.checkout svg:hover{
  fill: #000000;
}

.checkin svg:active,
.checkout svg:active{
  fill: #81b3d2;
}

.checkin svg,
.checkout svg{
  fill: #a9a9a9;
}


.checkout svg{
  cursor: pointer;
  position: absolute;
  left: 482px;
  top: 129px;
}

.checkin input:hover,
.checkout input:hover {
  background-color: #ebebeb;
}

.checkin input:focus,
.checkout input:focus {
  outline: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.adult-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-height: 37px;
  margin-left: 40px;
  margin-right: 53px;
}

.children-wrapper{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-height: 37px;
  margin-left: auto;
}

.people button,
.people input{
  border: none;
  background-color: #f2f2f2;
}

.people input{
  width: 40px;
  line-height: 36px;
  text-align: right;
}

.people button{
  padding: 0;
  font-size: 26px;
  width: 37px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #a9a9a9;
}

.people button:hover {
  color: black;
}

.people button:active{
  outline: none;
  color: #81b3d2;
}

.find {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
}

.find:hover,
.more:hover{
  background-color: #669ec0;
}

.find:active,
.find:focus,
.more:active,
.more:focus {
  color: #94b9d2;
  background-color: #5496bd;
}

.infrastructure-list,
.type-list,
.hotels-list,
.advantage-list,
.social-links,
.bonus-list
{
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-maps{
  z-index: -1;
  position: absolute;
}

.main-footer {
  font-size: 21px;
  line-height: 26px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-top: 474px;
  background: rgba(255, 255, 255, 0.9);
}

.footer-hotels {
  margin-top: 0;
}

.main-footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 8px;
  min-height: 120px;
  width: 999px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;

}

.footer-social {
  margin-left: 50px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin: 0;
  padding: 0;
}

.hashtag {
  padding-left: 30px;
}

.social-links li {
  background-color: #81b3d2;
  width: 47px;
}

.social-links li:not(:first-child) {
  margin-left: 5px;
}


.social-links li:hover{
  background-color: #669ec0;
}

.social-links li:active{
  background-color: #5496bd;
}

.icon{
  display: block;
  min-height: 46px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.social-twitter a{
  background: url('../img/twitter.svg') no-repeat center;
}

.social-twitter a:active{
  opacity:0.4;
}

.social-facebook a{
  background: url('../img/icon-fb.svg') no-repeat center;
}

.social-facebook a:active{
  opacity:0.4;
}

.social-youtube a{
  background: url('../img/youtube.svg') no-repeat center;
}

.social-youtube a:active{
  opacity:0.4;
}

.developer-logo{
  font-size: 14px;
  margin-left: 16px;
  width: 199px;
  vertical-align: middle;
  display: inline-block;
}

.developer-link{
  background: url('../img/logo-htmla.svg') no-repeat center;
  padding: 58px;
  margin-left: 5px;
}

.developer-link:hover{
  background: url('../img/logo-htmla2.svg') no-repeat center;
}

.developer-link:active{
  background: url('../img/logo-htmla3.svg') no-repeat center;
}


.header-current-link a{
  color: #766357;
}

.filters {
  background-image: url("../img/filter-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: auto;
}

.filters fieldset {
  border:0;
}

.additional-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px solid #e5e5e5;
  background-color: white;
  min-height: 86px;

}

.additional-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 1056px;
}

.additional-block:before {
  content: "";
  display: inline-block;
  min-height: 86px;
  visibility: hidden;
}

.sort-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}

.finded{
  width: 115px;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.sort{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 891px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 48px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sort-link-wrapper {
  margin-left: 6px;
}

.sort-link {
  color: #cacaca;
  margin-left: 33px;
  border-bottom: 1px dashed #81b3d2;

}

.sort-link:hover {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;

}

.sort-link:active {
  color: black;
  border-bottom: none;

}

.active {
  color: #81b3d2;
  border-bottom: none;
}

.sort-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #cacaca;
}


.active-sort:not(.down){
  border-bottom-color: #81b3d2;
}

.up:hover {
  border-bottom-color: #231f20;
}

.up:active{
  border-bottom-color: #81b3d2;
}

.down {
  width: 0;
  height: 0;
  margin-left: 12px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #cacaca;
}

.active-sort:not(.up) {
  border-top-color: #81b3d2;
}

.down:hover{
  border-top-color: #231f20;
}

.down:active {
  border-top-color: #81b3d2;
}

.hotels-list,
.hotels-list h2{
  margin: 0;
  padding: 0;
}

.hotels-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 150px;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hotels-item:before {
  content: "";
  display: inline-block;
  min-height: 150px;
  visibility: hidden;
}

.hotels-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-height: 91px;
  width: 1056px;
}

.hotels-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hotels-wrapper a{
  margin-top: -4px;
}

.hotels-links a{
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.order {
  margin-left: 4px;
}

.hotels-details {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  padding-bottom: 9px;
  margin: 0;
}

.type {
  width: 116px;
}

.hotels-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 32px;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hotel-title{
  color: black;
  font-size: 21px;
  line-height: 26px;
}

.hotel-title:hover{
  color: #81b3d2;
}

.hotel-title:active{
  color: #cacaca;
}

.hotels-details {
  font-weight: 400;
}

.hotels-links a{
  color: white;
}

.hotels-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hotels-rating-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -3px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.more {
  background-color: #81b3d2;
}

.order {
  background-color: #766357;
}

.rating {
  text-align: center;
  color: #939393;
  background-color: #f2f2f2;
  font-weight: 400;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.stars {
  display: block;
  background-image: url("../img/star.svg");
  background-size: 100% 100%;
  padding: 10px;
  margin-left: 4px;
}

.search-hotel{
  width: 568px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.modal {
  padding-left: 137px;
  padding-right: 140px;
  padding-top: 32px;
  padding-bottom: 28px;
}

@-webkit-keyframes modal_animation{
  0 % { -webkit-transform: translateY(-10px); transform: translateY(-10px) }
  70 % { -webkit-transform: translateY(-200px); transform: translateY(-200px) }
  90 % { -webkit-transform: translateY(-300px); transform: translateY(-300px) }
  100 % { -webkit-transform: translateY(-2000px); transform: translateY(-2000px) }
}

@keyframes modal_animation{
  0 % { -webkit-transform: translateY(-10px); transform: translateY(-10px) }
  70 % { -webkit-transform: translateY(-200px); transform: translateY(-200px) }
  90 % { -webkit-transform: translateY(-300px); transform: translateY(-300px) }
  100 % { -webkit-transform: translateY(-2000px); transform: translateY(-2000px) }
}


.show{
  display: none;
  -webkit-animation-name: modal_animation;
  animation-name: modal_animation;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}
