@import url('https://fonts.googleapis.com/css?family=Roboto');

@media (min-width: 768px) and (max-width: 998px) {
    .nav-bar .nav-bar-table tr td a {
        font-size: 14px !important;
        font-weight: normal !important;
    }
}

@media (max-width: 768px) {
    .basic-info .basic-info-block .table-responsive .table {
        max-width: none;
    }
}

.btn-group-lg > .btn,
.btn-primary,
.btn-danger,
.btn-grey,
.btn-lg {
    border-radius: 0;
    outline: none !important;
}

.btn-group-lg > .btn:active,
.btn-primary:active,
.btn-danger:active,
.btn-grey:active,
.btn-lg:active,
.btn-group-lg > .btn:focus,
.btn-primary:focus,
.btn-danger:focus,
.btn-grey:focus,
.btn-lg:focus {
    border-radius: 0;
    outline: none !important;
}

/**
 * Custom header styles begin
 */
#ottSaasHeader {
    font-family: 'Roboto', sans-serif;
    background: #10002B;
}

.ottwl-header {
    height: 80px;
    padding: 0 0;
    justify-content: space-between;
}

.ottwl-header .ottwl-header__block.mobile-nav .mobile-menu .icons-btn:hover svg {
    color: inherit;
    fill: inherit;
}

nav.mobile-menu-open {
    background: inherit;
}

.ottwl-header .ottwl-header__block.mobile-nav .mobile-menu .dropdown-menu {
    background: rgba(16,0,43,.9);
}

nav.mobile-menu-open .mobile-menu .dropdown-menu li,
nav.mobile-menu-open .mobile-menu .dropdown-menu li > a {
    color: #FFFFFF;
}

nav.mobile-menu-open .mobile-menu .dropdown-menu li > a:hover {
    background-color: transparent;
    color: #FFFFFF;
}

.ottwl-header .ottwl-header__block.mobile-nav .mobile-menu.dropdown a.dropdown-toggle {
    border: 1px solid #2D2140;
    padding: 5px 10px;
    line-height: 9px;
    font-size: 16px;
    color: #887F92;
    fill: #887F92;
}

.ottwl-header .ottwl-header__block.mobile-nav .mobile-menu.dropdown a.dropdown-toggle:hover {
    color: #887F92;
    fill: #887F92;
}

.ottwl-header .ottwl-header__block.mobile-nav .mobile-menu.dropdown a.dropdown-toggle svg path + path {
    color: #887F92;
    fill: #887F92;
}

.ottwl-header .ottwl-header__block .ottwl-header__auth-dialog-btn,
.ottwl-header .ottwl-header__block .ottwl-header__logout-btn {
    padding: 0 10px !important;
    line-height: 18px;
}

.ottwl-header .ottwl-header__block .ottwl-header__auth-dialog-btn svg path,
.ottwl-header .ottwl-header__block .ottwl-header__logout-btn svg path {
    fill: #887E8F;
}

.logo-block img {
    margin: 3px 25px 3px 0;
}

.lk-head-btn {
    color: #00b2a9;
    border: none;
    padding: 0;
    margin: 0;
    letter-spacing: 0;
    font-family: inherit;
    font-size: 16px;
    outline: none;
}

.lk-head-btn:hover {
    color: #00b2a9;
}

.lk-head-btn:focus {
    color: #00b2a9;
    outline: none;
}

.ottwl-header .forms-tabs li {
    padding: 0;
    margin: 0 25px 0 0;
}

.ottwl-header .forms-tabs li:first-child {
    margin: 0 25px;
}

.ottwl-header .forms-tabs li a {
    color: #FFF;
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0;
    padding: 0 0 2px 0;
    border-bottom-width: 3px;
}

.ottwl-header .forms-tabs li:hover a,
.ottwl-header .forms-tabs li:hover a:hover {
    color: #FFF !important;
}
/**
 * Custom header styles end
 */

/**
 * Custom footer styles begin
 */
#ottSaasFooter {
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6em;
    background: #0e0027;
    min-height: 200px;
    padding: 35px 0;
}

#ottSaasFooter a {
    color: #666666;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

#ottSaasFooter a:hover,
#ottSaasFooter a:link,
#ottSaasFooter a:active {
    text-decoration: none;
}

#ottSaasFooter .akbars-logo {
    display: block;
    background: url('./images/akbars-logo.png') no-repeat;
    background-size: contain;
    height: 42px;
    margin-bottom: 35px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/**
 * Custom footer styles end
 */

/**
 * Custom popup styles begin
 */
.reset-password-popup .ngdialog-content,
.auth-popup .ngdialog-content {
    font-family: 'Roboto', sans-serif !important;
}

.auth-popup .btn-lg,
.auth-popup .nav-tabs > li a {
    font-family: 'Roboto', sans-serif !important;
}
/**
 * Custom popup styles end
 */

/**
 * Custom profile styles begin
 */
.nav-bar .mobile-menu button.btn-primary {
    border-color: #D2CECE !important;
    background: none !important;
    outline: none;
}

.nav-bar .mobile-menu button.btn-primary .icon-bar {
    background-color: #887F92;
}

.nav-bar .mobile-menu .navbar-collapse ul li a {
    font-weight: normal;
}

.nav-bar .nav-bar-table a {
    text-decoration: none;
}

.cards .cards__card-form .btn-grey {
    color: #fff !important;
    background-color: #00b2a9 !important;
    background-image: none !important;
    border-color: #00b2a9 !important;
    outline: none;
}

.cards .cards__card-form .btn-grey:hover {
    color: #fff !important;
    background-color: #007f79 !important;
    border-color: #00756f !important;
}

.cards .cards__card-form .btn-grey:focus,
.cards .cards__card-form .btn-grey:active {
    outline: none;
}
/**
 * Custom profile styles end
 */

/**
 * Custom labels start
 */
.ngdialog.auth-popup label[for="auth_login"],
.ngdialog.auth-popup label[for="register_login"] {
    font-size: 0;
    letter-spacing: -1px;
    color: transparent;
    line-height: 1;
}

.ngdialog.auth-popup label[for="auth_login"]:before,
.ngdialog.auth-popup label[for="register_login"]:before {
    display: block;
    content: '\041D\043E\043C\0435\0440\00a0\043C\043E\0431\0438\043B\044C\043D\043E\0433\043E\00a0\0442\0435\043B\0435\0444\043E\043D\0430';
    letter-spacing: normal;
    font-size: 16px;
    color: #444;
}
/**
 * Custom labels end
 */

/**
 * Custom header style
 */

.ottwl-header .ottwl-header__block .ottwl-header__auth-dialog-btn,
.btn-logout,
.btn-logout svg{ visibility: hidden; }

/*Hide password area start*/
.basic-info__change-password-form {
    display: none;
}
/*Hide password area end*/
